
body {
  margin-top: 10%;
  padding: 10px; 
  background: url(background.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body p {
    font-family: Optima;
}

.title {
  font-size: 100px;
}

.icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;    
  justify-content: space-evenly; 

}

.iconImage {
  height: 75px;
  width: 75px;
  border-radius: 15%;   
}

.instrument {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;    
  justify-content: space-evenly; 

}


.sound {
  height: 75px;
  width: 75px;
  background-color: black;
  border-radius: 15%;    
}

p {
  color: white;
  text-align: center;
}